code.smaller {
  font-size: smaller;
  line-height: initial;
}
code.small {
  font-size: small;
  line-height: initial;
}

img.logo {
/* max-height: 300px!important; */
  border: none!important;
  background: none!important;
}
