code.smaller {
  font-size: smaller;
  line-height: initial;
}
code.small {
  font-size: small;
  line-height: initial;
}

img.logo {
  border: none!important;
  background: none!important;
  box-shadow: none!important;
}
